name: build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  x86_64-linux-gnu-gcc:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Install prerequisites
        run: |
          sudo apt update -y
          sudo apt install -y libgl1-mesa-dev libglx-dev libqt6svg6* qt6-base-dev
      - run: cmake --preset "Debug"
      - run: cmake --build build --target QtQwtBode
